<div class="form-container">
  <h1>Log In</h1>
  <%= form_with url: login_path, class: 'form' do |form| %>
    <div class="form-field">
      <%= form.label :email, 'Email', class: 'form-label' %>
      <%= form.email_field :email, required: true, class: 'form-input' %>
    </div>
    <div class="form-field">
      <%= form.label :password, 'Password', class: 'form-label' %>
      <%= form.password_field :password, required: true, class: 'form-input' %>
    </div>
    <div class="form-actions">
      <%= form.submit 'Log In', class: 'form-button' %>
    </div>
  <% end %>
  <p class="form-footer">
    Don't have an account? <%= link_to 'Sign Up', signup_path, class: 'form-link' %>
  </p>
</div>
